* {
  margin: 0;
}

:root {
  --font-happy: "Happy Monkey", system-ui;
  --pink: #efb0c9;
  --blue: #a2d2ff;
  --white: #ffffff;
  --black: #000000;
}

body {
  text-align: center;
  font-family: var(--font-happy);
  background: var(--blue);
}
h1,h2,h4{
  color: var(--white);
  text-shadow:0 0 1px var(--black) ;
}



#img-luis {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid var(--pink);
  
}
